* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins";
} 

h5 {
    opacity: 0.8;
}

p {
    opacity: 0.6;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 100px;
    align-items: center;
    width: 100%;
    height: 80%;
    max-width: 1440px;
    margin: auto; 
}

#navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: white;
    opacity: 0.9;
}

.logo h5{
    font-style: italic;
    color: #8740FF;
    font-size: 30px;
    font-weight: 500;
}

nav .nav-link {
    width: 60%;
}

nav .nav-link a:hover {
    color: #8740FF;
    border-bottom: 1.5px solid #8740FF;
    transition: 0.2s ease-in-out;
}

nav .nav-link ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-link li a {
    color: black;
}

.btn-login {
    height: 2.5rem;
    display: flex;
    align-items: center;
    border: 2px solid #8740FF;
    border-radius:5px;
}
.btn-login a {
    color: #8740FF;
    padding: 0 2.5rem;
    font-weight: 500;
}

.line {
    width: 30px;
    height: 3px;
    border-radius: 5px;
    background-color: #8740FF;
    margin: 5px;
}

.hamberger {
    cursor: pointer;
    display: none;
  }

li {
    list-style: none;
}

a {
    text-decoration: none;
}

#hero {
    max-width: 1440px;
    margin: auto;
}

.hero {
    background-image: url(../image/backgroundUP.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    margin: 120px 100px;
    padding: 50px 100px;
}

.hero .conten {
    padding: 100px 0;
    width: 65%;
}

.title-hero h5{
    color: white;
    font-size: 40px;
    opacity: 1;
}

.desc-hero p{
    margin: 25px 0;
    color: white;
    font-size: 18px;
    opacity: 0.8;
}

.btn-hero {
    background-color: white;
    width: 250px;
    padding: 13px 0;
    text-align: center;
    border-radius: 20px;
}
.btn-hero a {
    color: #8740FF;
    font-weight: 500;
}

#customer {
    max-width: 1440px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 100px;
}

.title-cust h5 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
    color: #331763;
}

.title-cust p {
    text-align: center;
    margin-bottom: 50px;
    font-size: 20px;
    color: #331763;
}

.cust {
    display: flex;
    justify-content: space-between;
    padding: 20px 100px;
}

.cust img {
    cursor: pointer;
    width: 170px;
    filter: gray;
    -webkit-filter: grayscale(1);
}

img .cll {
    width: 230px;
}

#layanan {
    max-width: 1440px;
    margin: auto;
}

.layanan {
    padding: 50px 100px;
}

.title-layanan h5{
    text-align: center;
    font-size: 40px;
     margin-top: -70px;
     opacity: 0.8;
}

.title-layanan img {
    margin-left: 450px;
}

.desc-layanan p{
    text-align: center;
    margin: 0 80px;
    margin-top: 30px;
    font-size: 20px;
    opacity: 0.6;
}

.contenLayanan {
    margin-top: 50px;
}

.cardLayanan {
    display: flex;
    align-items: center;
    gap: 20px;
}

.layanan1, .layanan2, .layanan3 {
    margin-top: 50px;
}

.mainCard {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.mainCard h6{
    font-size: 30px;
    color: #331763;
}

.imageLayanan h6{
    font-size: 30px;
    color: #331763;
    display: none;
    margin-left: -25px;
    font-size: 25px;
}

.mainCard p {
    color: #331763;
    font-size: 20px;
}

.layanan2 .mainCard{
    order: 1;
}
.layanan2 .imageLayanan {
    order: 2;
}

.layanan2 .imageLayanan h6 {
    margin-left: 0;
}

.cardLayanan .btn {
    background-color: #8740FF;
    width: 250px;
    text-align: center;
    padding: 13px 0;
    color: white;
    border-radius: 20px;
    font-size: 20px;
}

.imageLayanan img {
    width: 530px;
}

.see-more {
    opacity: 0.6;
    margin-top: 50px;
    text-align: center;
}

a .see-more {
    z-index: 0;
}

.see-more a{
    color: black;
}

#wwd {
    max-width: 1440px;
    margin: auto;
    padding: 100px 100px;
}

.title-wwd h5{
    text-align: center;
    font-size: 40px;
     margin-top: -70px;
}

.title-wwd img {
    margin-left: 500px;
}

.desc-wwd p{
    text-align: center;
    margin: 0 80px;
    margin-top: 30px;
    font-size: 20px;
    margin-bottom: 50px;
}

.conten-wwd {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.conten-wwd img {
    width: 300px;
    height: 230px;
    border-radius: 10px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    transition: all 0.5s;
}

.conten-wwd img:hover {
    box-shadow: none;
}

.title-alasan h5{
    font-size: 40px;
    color: black;
    margin-bottom: 50px;
}

.conten-alasan {
    margin-left: 80px;
}

.conten-alasan p {
    opacity: 1;
}

.desc-alasan {
    color: #331763;
    margin: 20px 0;
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.desc-alasan img {
    width: 35px;
}

#alasan {
    max-width: 1440px;
    margin: auto;
}

.alasan {
    width: 100%;
    padding: 0 100px;
    display: flex;
    align-items: center;
    margin-top: 50px;
    margin-right: 50px;
}

.btn-pesan {
    margin-top: 30px;
    background-color: #8740FF;
    width: 250px;
    text-align: center;
    padding: 13px 0;
    border-radius: 20px;
}

.btn-pesan a {
    color: white;
    font-size: 20px;
}

#choose {
    margin: 80px 0; 
    background-color: #8740FF;
}

.choose {
    padding: 80px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: auto;
}

.chooseTitle {
    width: 50%;
}

.title-choose h4 {
    font-size: 40px;
    color: white;
    margin-bottom: 20px;
}

.desc-choose p{
    color: white;
}

.contenChoose {
    display: flex;
    gap: 50px;
    text-align: center;
    flex-direction: row-reverse;
}

.cardTesti {
    width: 350px;
    padding: 30px 60px;
    background-color: white;
    border-radius: 3px;
}

.cardTesti p {
    opacity: 1;
}

.profileTesti img {
    border-radius: 50%;
    width: 100px;
    border: 5px solid #F4EA92;
    /* position: relative; */
    margin-top: -60px;
}

.nameProfile {
    font-size: 30px;
}

.titleProfile {
    font-size: 15px;
}

.imgKomen {
    text-align: start;
    margin-top: 10px;
}

.komen {
    position: relative;
    margin-top: -40px;
}

#kontak {
    margin: 50px 100px;
}

.kontak {
    max-width: 1000px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titleKontak h5{
    font-size: 40px;
     margin-top: -70px;
}

.titleKontak img {
    margin-left: 50px;
}

.mapsKontak {
    margin-right: 80px;
}

iframe {
    width: 500px;
    height: 400px;
}

.formKontak {
    width: auto;
}

.form {
    margin-top: 20px;
}

.name, .email, .pesan {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

input {
    height: 30px;
    border: 1px solid #8740FF;
    border-radius: 5px;
}

textarea {
    border-radius: 5px;
    border: 1px solid #8740FF;
}

input:focus {
    outline: none;
}

textarea:focus {
    outline: none;
}

iframe {
    border: 0;
    border-radius: 20px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

footer {
    margin-top: 100px;
    height: 250px;
    background-color: #8740FF;
}

.btnKontak a{
    color: white;
    padding: 13px 75px;
    background-color: #8740FF;
    border-radius: 5px;
    border-radius: 20px;
}

/* Responsive */
@media screen and (max-width: 1280px) {
    .hero .conten {
        width: 90%;
    }
    .desc-hero {
        width: 70%;
    }
}
@media screen and (max-width: 460px) {
    .hamberger {
        display: block;
    }
    nav .nav-link {
        position: fixed;
        top: 80px;
        right: -100%;
        width: 100%;
        justify-content: end;
        background-color: white;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        transition: all 0.8s;
        z-index: -1;
    }
    .nav-link ul {
        flex-direction: column;
        text-align: center;
    }
    .nav-link ul li {
        margin: 20px;
    }
    .nav-link ul li a {
        color: #8740FF;
    }
    .nav-link.active {
        right: 0;
      }
    .navbar {
        padding: 20px 20px;
    }
    .btn-login {
        display: flex;
        flex-direction: column;
        padding: 10px 10px;
        width: 200px;
        margin: auto;
        margin-bottom: 20px;
    }
    .nav-link .btn-login {
        opacity: 1;
    }
    #hero {

    }
    .hero {
        background-image: url(../image/backgroundUP\ 1\ mobile.png);
        background-repeat: no-repeat;
        margin: 120px 20px;
        padding: 0 20px;
    }
    .hero .conten {
        padding: 50px 0;
        width: 100%;
    }
    .title-hero h5 {
        font-size: 25px;
    }
    .desc-hero p {
        font-size: 15px;
    }
    .cust {
        padding: 20px 20px;
        overflow-x: auto;
    }
    .cust img {
        width: 100px;
        margin: 0 15px;
        filter: gray;
    }
    .title-cust p {
        padding: 0 20px;
    }
    .layanan {
        padding: 100px 20px;
    }
    .title-layanan h5 {
        text-align: center;
        font-size: 25px;
        margin-top: -70px;
    }
    .desc-layanan p {
        text-align: center;
        margin: 0;
        margin-top: 30px;
        font-size: 15px;
        opacity: 0.9;
    }
    .title-layanan img {
        margin-left: 40px;
        height: 35px;
        z-index: -1;
        position: absolute;
    }
    .cardLayanan {
        flex-direction: column;
        text-align: center;
    }
    .mainCard h6 {
        display: none;
    }
    .mainCard {
        align-items: center;
    }
    .mainCard p {
        font-size: 15px;
    }
    .cardLayanan .btn {
        width: 150px;
        font-size: 15px;
    }
    .imageLayanan h6 {
        display: block;
    }
    .imageLayanan img {
        width: 300px;
    }
    .layanan2 .imageLayanan {
        order: 1;
        margin-left: 0;
    }
    .name h6 {
        font-size: 20px;
    }
    .desc-card {
        font-size: 15px;
    }
    .btn-card a{
        opacity: 0.8;
    }
    #wwd {
        padding: 0;
    }
    .wwd {
        padding: 10px 20px;
    }
    .desc-wwd p{
        font-size: 15px;
        opacity: 0.9;
        margin: 30px 0;
    }
    .title-wwd img {
        position: absolute;
        z-index: -2;
        margin-left: 0;
        height: 35px;
        margin-left: 30px;
    }
    .img-wwd img {
        width: 100%;
    }
    .card1 {
        margin-top: -20px;
    }
    .ket p {
        display: none;
    }
    .conten-wwd {
        margin-top: 50px;
    }
    .ket-wwd {
        top: -124px;
        height: 120px;
    }
    .card img {
        width: 100px;
        height: 100px;
    }
    .name-wwd h6 {
        font-size: 20px;
        margin-bottom: 0;
        padding-top: 50px;
    }
    .btn-wwd {
        font-size: 13px;
    }
    .see-more {
        margin-top: 20px;
    }
    .title-wwd h5 {
        font-size: 25px;
    }
    .img-alasan img{
        width: 100%;
    }
    .alasan {
        padding: 80px 20px;
        padding-top: 0;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .title-alasan h5, .desc-alasan p {
        text-align: left;
    }
    .title-alasan h5 {
        font-size: 25px;
    }
    .desc-alasan p {
        font-size: 15px;
    }
    .conten-alasan {
        margin-left: 0;
    }
    #choose {
        margin: 30px 0; 
        background-color: #8740FF;
    }
    .choose {
        padding: 50px 20px;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .cardTesti {
        padding: 30px 30px;
    }
    .title-choose h4{
        font-size: 25px;
    }
    .desc-choose p {
        font-size: 15px;
        opacity: 0.8;
    }
    .contenChoose {
        margin-top: 80px;
        width: 100%;
    }
    .nameProfile {
        font-size: 20px;
    }
    .titleProfile p {
        font-size: 10px;
    }
    .imgKomen img{
        width: 50px;
    }
    .komen p {
        font-size: 15px;
    }
    .chooseTitle {
        width: 100%;
        margin-right: 0;
    }
    #kontak {
        margin: 50px 20px;
    }
    .kontak {
        flex-direction: column;
        align-items: center;
    }
    iframe {
        width: 320px;
        height: 200px;
    }
    .mapsKontak {
        margin-right: 0;
    }
    .titleKontak h5{
        font-size: 25px;
         margin-top: 30px;
    }
    .titleKontak img {
        position: absolute;
        z-index: -3;
        height: 35px;
        margin-left: 50px;
    }
    .formKontak {
        width: 100%;
    }
    input {
    width: 100%;
    }

    textarea {
    width: 100%;
    }
    .btn-pesan {
        width: 200px;
        font-size: 15px;
    }
}